
@media screen and (min-width: 0px) and (max-width: 600px)  {
    #floatright {
        float: none;
        margin-right: 40px;
    }
}
.navcolor.navbar.navbar-expand-lg.navbar-light {
    background-color: #e3e7f1; 
}
.carimg1 {
    height: 400px;
    width: 300px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

#floatright {
    float: right;
}

.mainHeader {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #35d0ba;
    font-family: 'Solway', serif;
}
.catchphrase {
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.ui.button.buttonColor {
    background-color: #ff9234;
    color: white; 
    font-weight: bold;
    font-family: 'Solway', serif;
}
.ui.button.buttonColor:hover {
    background-color: #ffcd3c;
}
.ui.button.buttonColor:active {
    background-color: #ff9234;
    box-shadow: 0 5px #ffcd3c;
    transform: translateY(4px);
  }
#center {
    text-align: center;
}
#left {
    float: right;
}
.genDateName {
    font-weight: bold;
    margin-top: 10px;
    color: #35d0ba;
    font-family: 'Solway', serif;
    background-color: #fefed5;
    text-align: center;
}

.genDateDesc {
    font-family: 'Solway', serif;
    background-color: #fefed5;
    text-align: center;
    padding: 10px;
   
}

.homediv {
    background-color: #fefed5;
  
}

a.brand.navbar-brand {
    color: #35d0ba;
}
a.dropdown-toggle.nav-link {
    color: #35d0ba;
}
a.nav-link {
    color: #35d0ba;
}
#basic-navbar-nav {
    color: #35d0ba;
}
.navbar-light.navbar-nav.nav-link {
    color: #35d0ba;
}
#navitem {
    color: #35d0ba;
}
.navbar-nav.navlink{
    color: #35d0ba;
}
div.nav-item {
    color: #35d0ba;
}
div.dropdown.nav-item {
    color: #35d0ba;
}
a.blue.nav-link {
    color: #35d0ba;
}