/* .ui.form{
 
} */
div.ui.raised.center.aligned.segment {
       margin: 10px;
       text-align: center;
       display: block;
       margin-left: auto;
       margin-right: auto;
}

h1 {
    font-family: 'Solway', serif;
    color: #35d0ba;
    font-weight: bold;
}

h2.ui.header {
    font-family: 'Solway', serif;
    color: #35d0ba;
}