/* .ui.form{
 
} */
div.ui.raised.center.aligned.segment {
       margin: 10px;
}

h1 {
    font-family: 'Solway', serif;
    color: #35d0ba;
    font-weight: bold;
}

h2.ui.header {
    font-family: 'Solway', serif;
    color: #35d0ba;
}