.profilediv {
    height: 100vh;
    background-color: #fefed5;
    font-family: 'Solway', serif;
}
.ui.raised.segment.segmentSpacer {
    margin: 10px;
    /* background: #81E0FF; */
    
}

.dateHeader {
    font-weight: bold;
    color: #35d0ba;
    font-family: 'Solway', serif;
}

.ui.button.buttonColorCenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
    background-color: #ff9234;
    color: white; 
    font-weight: bold;
    font-family: 'Solway', serif;
}
.ui.button.buttonColorCenter:hover {
    background-color: #ffcd3c;
}
.ui.button.buttonColorCenter:active {
    background-color: #ff9234;
    box-shadow: 0 5px #ffcd3c;
    transform: translateY(4px);
  }