.photo {
    height: 65vh;
    text-align: center;
}
.loginPic {
    border-radius: 7px;

}
.ui.placeholder.raised.segment {
    background-color: #35d0ba;
   
}
.logindiv {
    background-color: #fefed5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  
}
.padding {
    height: 65vh;
    text-align: center;
    margin-left: 40px;
}
.ui.form.form {
    width: 400px;
}
.ui.label {
    background-color: #ff9234;
    color: white;
}
.ui.raised.segment{
    width: 400px;
    text-align: center;
}
a {
    color: white;
  }

  .ui.button.buttonColor {
    background-color: #ffcd3c;
    color: white; 
    font-weight: bold;
    font-family: 'Solway', serif;
}
.ui.button.buttonColor:hover {
    background-color: #ffcd3c;
}
.ui.button.buttonColor:active {
    background-color: #ff9234;
    box-shadow: 0 5px #ffcd3c;
    transform: translateY(4px);
  }

.whiteh4{
    color: white;
    font-family: 'Solway', serif;
}