.photo {
    height: 65vh;
    text-align: center;
}
.logindiv {
    background-color: #c6cbef;
    height: 100vh;
}
.padding {
    height: 65vh;
    text-align: center;
    margin-left: 40px;
}
.ui.form.form {
    width: 400px;
}

.ui.raised.segment{
    width: 400px;
    text-align: center;
}
a {
    color: #494ca6;
  }